body {
    font: Source Code Pro;
}
form {
    margin: 100px;
}
h1, h2 {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    border-style: solid .5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
}
ul {
    font: Arial;
    list-style: none;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    border-style: solid .5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
    padding: 20px;
}
.today-date {
    background: #f3e5f5;
}
ul {
    background: #e1bee7;
}
h1 {
    background: #ce93d8;
}
h1:hover {
    background: white;
    width: 500px;
}
h2:hover {
    background: white;
    width: 500px;
}
ul:hover {
    background: white;
    width: 500px;
}
div .card-header {
    border-radius: 20px;
    text-align: center;
}
.card-body {
    background: #fff3e0;
    transition: all 200ms ease-in-out;
}
.information {
    text-align: center;
}
.description {
    text-transform: capitalize;
}

